					<% if user_signed_in? %>
<h1 class="animated fadeInDown"data-id='1'>Gti619#circle</h1>
<div class="circle animated growIn" data-id='2'></div>
						<% else %>
												Please login again
						<% end %>