<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://www.expertus.ca/sandbox/wp-content/themes/expertus/css/animations.css">
  <script type="text/javascript" src="http://www.expertus.ca/wp-content/themes/expertus/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
	<style>
		.nav{
			width: 100%;
			background-color: gray;
		}
		.nav > li{
			float: left;
			padding: 15px;
			list-style-type: none;
			-webkit-transition: background-color 0.5s ease-out; */
			-moz-transition: background-color 0.5s ease-out;
			-o-transition: background-color 0.5s ease-out;
			transition: background-color 0.5s ease-out;
		}
		.nav > li:hover{
			background-color: white;
		}
		.nav > li > a{
			color: white;
			text-decoration: none;
			-webkit-transition: color 0.5s ease-out; */
			-moz-transition: color 0.5s ease-out;
			-o-transition: color 0.5s ease-out;
			transition: color 0.5s ease-out;
		}
		.nav > li:hover > a{
			color: gray;
		}
		.myBody{
			margin: 0;
			position: absolute;
			top: -16px;
			width: 100%;
		}
		.main-container{
			text-align: center;
			margin: 0 auto;
			padding-top: 10%;
		}
		.flash{
		  text-align: center;
		}
		.square{
			width: 100px;
			height: 100px;
			background: gray;
			margin: 0 auto;
		}
		.circle{
			width: 100px;
			height: 100px;
			background: gray;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50%;
			margin: 0 auto;
		}
		.table{
			margin: 0 auto;
		}
		.table > tbody{
			text-align: left;
		}

	</style>
</head>
<body class="myBody">
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<nav>
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>

					<% if user_signed_in? %>
						<% if current_user.role == "cercle" || current_user.role == "admin" %>
							<li><%= link_to "Cercle", gti619_circle_path %></li>
						<% end %>
						<% if current_user.role == "carre" || current_user.role == "admin" %>
							<li><%= link_to "Carre", gti619_square_path %></li>
						<% end %>
						<% if current_user.role == "admin" %>
							<li><%= link_to "Admin Panel", admin_index_path %></li>
						<% end %>
						<li><%= link_to "Change your password", edit_user_registration_path %></li>
						<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		
					<% else %>
						<li><%= link_to "Login", new_user_session_path %></li>
					<% end %>
					<div style="clear: both;"
				</ul>
			</nav>
		</div>
	</header>
	<div class="main-container animatedParent" data-sequence='1000'>
		<%= yield %>
	</div>
	<% flash.each do |key, value| %>
	  <div class="flash <%= key %>"><%= value %></div>
	<% end %>
<script src="http://www.expertus.ca/sandbox/wp-content/themes/expertus/js/css3-animate-it.js"></script>
</body>
</html>
