					<% if user_signed_in? %>
<h1>Admin#index</h1>
<h1>Listing Users</h1>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Last connection</th>
    <th>Locked At</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.last_sign_in_at %></td>
	  <td><%= user.locked_at %></td>
	  <td><%= link_to(t('common.unlock'), unlock_user_path(user), method: :post, class: 'button-xs') unless user == current_user %></td>
    </tr>
    <% end %>
</table>
<% else %>
												Please login again
						<% end %>